<h1>Pokédex</h1>

<!-- List of pokemon -->
<ul class="pokedex-list">
  <% @pokemon.each do |pkmn| %>
    <li>
      <button class="js-show-pokemon btn btn-link"
          data-pokemon-uri="<%= pkmn["resource_uri"] %>">
        <%= pkmn["name"] %>
      </button>
    </li>
  <% end %>
</ul>


<!-- Pokemon modal view (hidden at first) -->
<div id="pokedex" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <h3 class="modal-title">
          <span id="js-pokemon-name"></span>
          <small id="js-pokemon-number"></small>
        </h3>
      </div><!-- .modal-header -->

      <div class="modal-body">
        <div class="progress hide">
          <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            Loading....
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <dl class="dl-horizontal hide">
              <dt>Height</dt>
              <dd id="js-pokemon-height"></dd>

              <dt>Weight</dt>
              <dd id="js-pokemon-weight"></dd>

              <dt>Hit Points</dt>
              <dd id="js-pokemon-hp"></dd>

              <dt>Attack</dt>
              <dd id="js-pokemon-attack"></dd>

              <dt>Defense</dt>
              <dd id="js-pokemon-defense"></dd>

              <dt>Special Attack</dt>
              <dd id="js-pokemon-sp-atk"></dd>

              <dt>Special Defense</dt>
              <dd id="js-pokemon-sp-def"></dd>

              <dt>Speed</dt>
              <dd id="js-pokemon-speed"></dd>
            </dl>
            <dl id="js-pokemon-types" class="dl-horizontal hide">
              <dt>Type</dt>
            </dl>
          </div>
          <div class="col-sm-4 pokemon-pp-wrapper">
            <img id="js-pokemon-image" src="" alt="" class="hide">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button  id='show-evolutions' class='btn btn-lg btn-danger btn-block hide' data-resource-uri=''>
                Show evolutions
            </button>
          </div>
        </div>


      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->
